.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}